

.card{
    padding: 0 !important;
    .cont-img-card{
        img{
            width: 100%;
            
        }
    }
    .cont-name-card{
        border-bottom: 1px solid black;
        h3{
            font-family: $fontMain;
            margin-top: 8px;
        }
    }
    .cont-powerstats{
        display: flex;
        justify-content: center;
        gap: 22px;
        margin: 8px 0 10px;
        .powerstats{
            display: flex;
            flex-direction: column;
            span{
                display: flex;
                justify-content: space-between;
                font-family: $fontSecond;
                text-transform: uppercase;
            }
        }
    }
    .cont-btn-card{
        display: flex;
        justify-content: center;
        button{
        color: #b5b5b5;
        font-family: 'Sigmar One', sans-serif;
        font-size: 20px;
        line-height: 70px;
        height: 40px;
        font-style: normal;
        font-weight: 400;
        background-color: #f5f5f5;
        border-radius: 10px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        letter-spacing: 0px;
        text-transform: uppercase;
        border-width: 0px;
        padding-left: 45px;
        padding-right: 45px;
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        pointer-events: auto;
        &:hover {
            background-color: #220000;
            color: white; 
        }
        }
    }
}