@import '../styles/CardTeam.scss';



$fontMain: 'Sigmar One', cursive;
$fontSecond: 'Raleway', sans-serif;


.cont-banner{
    height: 100vh;
    background-size:cover;
    background-attachment: fixed; 
    h1{
        font-family: $fontMain;
        color: rgb(255, 255, 255);
        font-size: 107px;
        line-height: 85px;
        font-style: normal;
        font-weight: 400;
        text-shadow: none;
        letter-spacing: 0px;
        text-transform: uppercase;
        margin-bottom: 50px;
        margin-top: 165px;
    }
    .span-title{
        color: white;
        font-family: $fontSecond;
        font-size: 18px;
        line-height: 30px;
        font-style: normal;
        font-weight: 400;
        letter-spacing: 0px;
        text-transform: none;
    }
    
    
}



//SEARCH
.cont-search{
    margin-top: 60px !important;
    input{
        width: 90vw;
        max-width: 500px;
        font-family: $fontSecond;         
        height: 50px;            
        background-color: #f5f5f5;
        border-radius: 10px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-width: 0px;
        padding-left: 45px;
        padding-right: 45px;
        margin-bottom: 25px;
    }
    button{
        color: #b5b5b5;
        font-family: 'Sigmar One', sans-serif;
        font-size: 20px;
        line-height: 70px;
        height: 70px;
        width: 186px;
        font-style: normal;
        font-weight: 400;
        background-color: #f5f5f5;
        border-radius: 10px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        letter-spacing: 0px;
        text-transform: uppercase;
        border-width: 0px;
        padding-left: 45px;
        padding-right: 45px;
        &:hover {
            background-color: #220000;
            color: white; 
        }
    }
}

//HEROLIST

.hero-list{
    margin-top: 250px;
    padding: 0 50px ;    
    .list{
        gap: 30px;
        justify-content: center;
    }
}


//HERO

.card{
    padding: 0 !important;
    .cont-img-card{
        img{
            width: 100%;
            
        }
    }
    .cont-name-card{
        border-bottom: 1px solid black;
        h3{
            font-family: $fontMain;
            margin-top: 8px;
        }
    }
    .cont-powerstats{
        display: flex;
        justify-content: center;
        gap: 22px;
        margin: 8px 0 10px;
        .powerstats{
            display: flex;
            flex-direction: column;
            span{
                display: flex;
                justify-content: space-between;
                font-family: $fontSecond;
                text-transform: uppercase;
            }
        }
    }
    .cont-btn-card{
        display: flex;
        justify-content: center;
        button{
        color: #b5b5b5;
        font-family: 'Sigmar One', sans-serif;
        font-size: 20px;
        line-height: 70px;
        height: 40px;
        font-style: normal;
        font-weight: 400;
        background-color: #f5f5f5;
        border-radius: 10px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        letter-spacing: 0px;
        text-transform: uppercase;
        border-width: 0px;
        padding-left: 45px;
        padding-right: 45px;
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        pointer-events: auto;
        &:hover {
            background-color: #220000;
            color: white; 
        }
        }
    }
}

//btn flotante

.btn-flotante{
    width: 100px;
    height: 100px;
    z-index: 1;
    right: 50px;
    bottom: 35px;
    position: fixed;
    background-repeat: no-repeat;
    background-size: contain;
    .contador{
        height: 20px;
        width: 20px;
        background: black;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        left: 60px;
        top: -10px;
        span{
            color: white;
        }
    }
}




//MI EQUIPO

.cont-my-team{

    margin-top: 0px !important;
    display: flex;
    justify-content: center;
   .list-my-team{
       gap: 30px;
       justify-content: center;
   }
}
.cont-arrow{
    margin-top: 65px;
    .row{
        .arrow{
            display: contents;
        }
    }
}

.cont-no-hero{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .row{
        .no-hero{
            display: flex;
            flex-direction: column;
            gap: 40px;
            text-transform: uppercase;
            font-family: $fontMain;
            .btn-no-hero{
                background-color: black;
                color: white;
                padding: 10px 20px;
                border: none;
                border-radius: 10px;
            }
        }
    }
}


//TOTAL POWERS

.cont-total-powers{
    margin-top: 50px;
    margin-bottom: 50px;
    .total-powers{
        background-color: #F5F5F5;
        border-radius: 10px;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        padding: 40px;
        gap: 15px;
        h2{
            font-family: $fontMain;
        }
        .powers{
            display: grid;
            grid-template-columns: 1fr 1fr;
            text-align: left;
            text-transform: uppercase;
            font-family: $fontSecond;
            gap: 15px;
        }
        .alturaPeso{
            display: grid;
            grid-template-columns: 1fr 1fr;
            text-align: left;
            text-transform: uppercase;
            font-family: $fontSecond;
        }
    }
}




// HERO DETAIL

.cont-hero-detail{
    display: none ;
    position: fixed;
    width: 80%;
    top: 175px;
    z-index: 99;
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 20px;
    .col{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;
        .close-detail{
            position: absolute;
            right: -10px;
            top: -10px;
        }
        .title-detail{
            font-family: $fontMain;
            margin-bottom: 0;
        }
        .details{
            font-family: $fontSecond;
            text-transform: uppercase;
        }
    }
}



/// LOGIN


.cont-login{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    .row{
        .login{
            height: 100vh;
            justify-content: center;
            display: flex;
            align-items: center;
            form{
                width: 300px;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 15px;
                div{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 5px;
                    .label-login{
                        font-family: $fontSecond !important;
                        text-transform: uppercase;
                        font-weight: 600;
                    }
                    .error-login{
                        color: red;
                        font-family: $fontSecond;
                        font-weight: 400;
                        font-size: 15px;
                        background-color: rgba(255, 255, 255, 0.322);
                        padding: 0 20px;
                        border-radius: 3px;
                    }
                }
                input{
                    width: 100%;
                    border: none;
                    padding: 10px 20px;
                }
                button{
                    width: 156px;
                    align-self: center;
                    color: white !important;
                    background-color: #b5b5b5 !important;
                    font-family: 'Sigmar One', sans-serif;
                    font-size: 25px;
                    letter-spacing: 3px;
                    padding: 10px 25px;
                    border: none;
                    border-radius: 15px;
                    box-shadow: 2px 2px 2px grey;
                    &:hover {
                        background-color: #220000 !important;
                        color: #E74532 !important; 
                    }
                   
                }
            }
        }
    }
}









//MEDIA QUERIS 

@media (max-width: 767px){
    .cont-banner{
        h1{
            font-size: 22vw;
            margin-bottom: 20px;
        }
    }
    .hero-list{
        margin-top: 100px;
    }
    .btn-flotante{
        right: 20px;
    }
    .cont-total-powers{
        .total-powers{
            gap: 0px;
            padding: 6px;
            .powers{
               
                grid-template-columns:  1fr;
                padding: 7px;
            }
            .alturaPeso{
                padding: 7px;
                grid-template-columns: 1fr;
                gap: 15px;
            }
        }
    }
    .cont-arrow{
        .row{
            .arrow{
                img{
                    margin-left: 15px;
                }
            }
        }
    }
}
